<header id="masthead" class="center-align">NPR News Scraper</header>
<div class="row"><br><br></div>
<div class="container">
	<div class="row">
		<a href="#" id="scrape" class="waves-effect waves-light btn-large">Scrape For New Articles</a>
		<a href="/home" id="home" class="waves-effect waves-light btn-large">Load Articles</a>
	</div>
	<div class="row">
		<div id="articleholder" class="col s12 m6 l7">

			<ul>
				{{#each articles}}
				{{> articles }}
				{{/each}}
			</ul>
		</div>
	</div>
</div>


 <div id="modalEditClient" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
		<p id="mod"></p>
        <input type="text" id="titleinput" name="title">
        <input type="text" id="bodyinput" name="body">

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green add-note btn-flat">Add Note</a>
    </div>
</div>

<footer></footer>