<header class="center-align">NPR NewsScraper</header>
<div class="container">
	<div class="row">
		<a href="#" id="scrape" class="waves-effect waves-light btn-large">Scrape</a>
	</div>

	<div class="row">
		<div class="col s12 m6 l6">

			<ul>
				{{#each articles}}
				{{> articles }}
				{{/each}}
			</ul>
		</div>
	</div>
</div>
 <div id="modalEditClient" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
		<p id="mod"></p>
        <input type="text" name="nom">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<footer></footer>